.listView {
  padding: .48rem .3rem;

  .item {
    margin-bottom: .3rem;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0 2px 8px #f0f1f2;

    .header {
      .title {
        height: 1rem;
        display: flex;
        align-items: center;
        padding: 0.16rem;

        .name {
          margin-left: .08rem;
          font-family:PingFangSC-Medium,PingFang SC;
          font-weight:500;
          color:rgba(15,18,50,1);
        }
      }
    }

    .detail {

    }
  }
}
