@import '../../../utils/theme.less';

.container {
  height: 100%;
  min-height: 100vh;
}

.chart {
  padding: .3rem 0.2rem;
  background-color: #fff;
  .canvas {
    
  }
}

.list {

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .2rem .3rem;

    .title {
      font-size: .3rem;
      font-weight: 500;
    }

    .extra {
      font-size: .24rem;
      color: #999;
    }
  }

  .content {
    padding: .3rem 0;
    background-color: #fff;
  }
}

