<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="App-Config" content="fullscreen=yes, useHistoryState=yes, transition=yes" />
  <!-- 禁止缓存 -->
  <!-- <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
  <meta http-equiv="Cache" content="no-cache">
  <meta http-equiv="Pragma" content="no-cache" />
  <meta http-equiv="Expires" content="0" /> -->
  <!--  -->
  <meta content=yes name=apple-mobile-web-app-capable />
  <meta content=yes name=apple-touch-fullscreen />
  <meta content="telephone=no,email=no" name=format-detection />
  <meta name="viewport"
    content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover">
  <title>围产保健</title>
  <link rel="icon" href="./favicon.ico" type="image/x-icon">
  <!-- <link href="/loaders.min.css" rel="stylesheet" /> -->
  <link href="./iconfont/iconfont.css" rel="stylesheet" />
</head>
<body>
  <script src="./config.js"></script>
  <div id="root">
    <!-- <div class="loader">
      <div class="loader-inner square-spin">
        <div></div>
      </div>
      <span class="tooltip">
        正在加载，请稍等...
      </span>
    </div> -->
  </div>
</body>
</html>
