.container {
  height: 100vh;
  padding: .45rem .3rem 0 .3rem;
  background-color: #fff;

  & > div {
    display: inline-block;
    width: calc((100% - 0.3rem) / 2);
    height: 2.2rem;
    margin-bottom: .3rem;
    padding-top: .4rem;
    padding-left: .48rem;
    border-radius: 4px;
    background-color: #f9ddd0;
    box-shadow: 0 2px 8px #f0f1f2;
    position: relative;

    .header {
      height: .6rem;
      line-height: .6rem;
      display: flex;
      align-items: center;
    }

    .title {
      position: absolute;
      left: 0.48rem;
      bottom: .4rem;
      font-size: .3rem;
      color: #150f55;
      line-height: 1;
    }

    &:nth-of-type(2n) {
      margin-right: .3rem;
    }

    &:nth-of-type(1) {
      width: 100%;
      .card-bg(#f9ddd0, '../../assets/slices/D.svg');
      background-size: contain;
    }

    &:nth-of-type(2) {
      .card-bg(#fff0ca, '../../assets/slices/fast_inlustrator.svg');
      background-size: 1.6rem;
    }

    &:nth-of-type(3) {
      .card-bg(#ddf8f1, '../../assets/slices/diabetes.svg')
    }

    &:nth-of-type(4) {
      .card-bg(#eff0ff, '../../assets/slices/High-risk.svg')
    }

    &:nth-of-type(5) {
      .card-bg(#f2e9fb, '../../assets/slices/High-risk.svg')
    }
  }
}

.card-bg(@color, @url) {
  background-color: @color;
  background-image: url(@url);
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: auto 1rem;
}
