@import '../../../../utils/theme.less';
@radio-size: 0.34rem;

.group {

}

.radio {
  position: relative;
  display: inline-block;
  white-space: nowrap;

  &__input {
    white-space: nowrap;
    outline: none;
    display: inline-block;
    line-height: 1;
    position: relative;
    vertical-align: middle;

    .is-disabled {

    }

    .is-checked {

    }

    .is-focus {

    }
  }

  &__inner {
    position: relative;
    cursor: pointer;
    display: inline-block;
    box-sizing: border-box;
    border-radius: 50%;
    border: 3px solid #333;

    &:hover {
      border-color: @primary-color;
    }

    &::after {
      content: "";
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%) scale(0);
      transition: transform .15s cubic-bezier(.71,-.46,.88,.6);
    }
  }

  &__original {
    opacity: 0;
    outline: none;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
  }

  &__label {
    color: #333;
    font-size: @font-size-base;
  }
}

@keyframes fadeIn {
  from {
    box-shadow: 0 0 5px currentColor;
    transform: scale(0.5);
  }

  to {
    box-shadow: none;
    transform: scale(1);
  }
}
