.wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #fff;

  .header {
    height: 4rem;
    padding-top: 1rem;
    text-align: center;

    .logo {
      display: inline-block;
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
      background-color: #ccc;
    }

    h1 {
      font-size: .36rem;
    }
  }

  .content {
    flex: 1;
    padding: .15rem .6rem;
  }
}

.captchaButton {
  height: 100%;
  border: none;
  padding: .15rem .2rem;
}
