.container {
  min-height: 100vh;
  padding: .3rem 0;
}

.card {
  height: 2rem;
  margin-bottom: 0.2rem;
  border-radius: 8px;
  background-color: #fff;
  box-shadow:0px 13px 10px -10px rgba(214,226,246,0.3);

  .thumbnail {
    float: left;
    width: 2rem;
    height: 2rem;
    line-height: 2rem;
    text-align: center;

    img {
      height: 1rem;
      width: 1rem;
    }
  }

  .content {
    height: 100%;
    padding: .4rem .2rem .4rem 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    & > div {
      display: flex;
      justify-content: space-between;
    }

    .first {
      margin-bottom: 0.3em;

      .name {
        font-size: 0.3rem;
        font-weight: 500;
        color: #0f1232;
      }
    }
    .second {
      .price {
        display: inline-block;
        font-size: 0.3rem;
        font-weight: 600;
        color: #0f1232;
      }
      .device {
        display: inline-block;
        margin-left: 0.52rem;
        font-size: 0.2rem;
        color: #828c99;
        position: relative;

        &:before {
          position: absolute;
          top: 50%;
          left: -12px;
          margin-top: -4px;
          display: inline-block;
          content: '';
          width: 8px;
          height: 8px;
          border-radius: 4px;
          background-color: #828c99;
        }
      }
      .detail{
        display: inline-flex;
        align-items: center;
        font-size: 0.24rem;
        color: #828c99;
      }
    }


  }
}
