@import '../../../utils/theme.less';

.datePickerList {
  height: 1rem;
  line-height: 1rem;
  margin-bottom: 0.2rem;
  background-color: #fff;
  font-size: .34rem;
  font-weight: 600;
  text-align: center;
}

.content {
  background-color: #fff;

  .text {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: .15rem .3rem;
    color: @primary-color;
  }
}
